<div class="container">
  <div class="row">
    <div class="col">
      <h1>Add a tag to <%= @plant.name %></h1>

      <%= simple_form_for [@plant, @plant_tag] do |f| %>
        <%= f.association :tag, input_html: { multiple: true } %>
        <%= f.submit "Add a tag", class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
</div>
